<msp-cover-photo ng-if="page.activeUser" photo="{{page.activeUser.cover}}"></msp-cover-photo>
<div class="msp-container">
  <div layout-gt-sm="row" layout-sm="column">
    <md-card flex="100" flex-gt-sm="100">
      <md-card-content>
        <div layout="row">
          <!-- The user's avatar -->
          <msp-profile-avatar ng-if="page.activeUser" photo="{{page.activeUser.avatar}}" class="avatar-pull-up"></msp-profile-avatar>
          <h2 class="fullname">{{page.activeUser.name}}</h2>
        </div>
        <div class="back-button back-button-pull-up" layout="row">
          <span flex></span>
          <md-button class="md-fab md-primary" href="#/">
            <md-icon md-svg-src="assets/svg/back.svg"></md-icon>
            <md-tooltip>Back to Feed</md-tooltip>
          </md-button>
        </div>
        <!-- The post list -->
        <!-- <msp-post-list ng-if="page.activeUser" type="timeline" user="{{page.activeUser.username}}"></msp-post-list> -->
        <form ng-submit="page.submit()" name="projectForm">
          <div layout-gt-sm="row">
            <div flex-gt-sm>
              <md-input-container class="md-block">
                <label>Game name</label>
                <input required name="name" ng-model="page.project.name">
                <div ng-messages="projectForm.name.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label>Description</label>
                <textarea name="desc" md-maxlength="350" rows="5" ng-model="page.project.desc"></textarea>
                <div ng-messages="projectForm.desc.$error">
                  <div ng-message="md-maxlength">The name has to be less than 300 characters long.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <lf-ng-md-file-input name="thumbnail" lf-placeholder="Upload a teaser image" lf-files="page.thumbnailFile"></lf-ng-md-file-input>
              </md-input-container>
            </div>
            <div flex-gt-sm>
              <md-input-container class="md-block" ng-if="!page.canUploadGame">
                <label>Drop a URL to where your game is hosted</label>
                <input required name="url" ng-model="page.project.url">
                <div ng-messages="projectForm.url.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" ng-if="page.canUploadGame">
                <lf-ng-md-file-input name="game" lf-placeholder="Upload game" lf-files="page.gameFile"></lf-ng-md-file-input>
              </md-input-container>
              <md-switch ng-model="page.canUploadGame">
                <span ng-if="!page.canUploadGame">Switch to upload a game folder so we can <strong>host your game</strong></span>
                <span ng-if="page.canUploadGame">Switch to add game url</span>
              </md-switch>
              <p>You can download a sample game to upload <a href="https://drive.google.com/file/d/0B1Dq7wma9zReb0Rja3o1c3hET2s/view?usp=sharing" target="_blank">here</a></p>
            </div>
          </div>
          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <div flex></div>
            <md-button type="submit" class="md-raised md-primary">Submit</md-button>
            <md-button href="#/" class="md-raised">Cancel</md-button>
          </section>
        </form>
        <!-- In-place loading indicator -->
        <msp-loading ng-if="!page.activeUser"></msp-loading>
      </md-card-content>
    </md-card>
  </div>
</div>
