<div layout="column" style="background-color: black">
  <div ng-if="!gameStarted || loading" class="thumbnail" flex layout="column"
    style='background: url("{{game.thumbnail}}") #000 no-repeat center center; background-size: cover;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    '
  >

    <!-- <img ng-src="{{game.thumbnail}}" alt="" flex> -->
  </div>
  <div kdq-game-full-screen="canFullScreen" class="iframe-wraper" ng-if="canPlayGame" flex layout="column">
    <div layout="row">
      <div flex></div>s
      <md-button ng-click="canFullScreen = !canFullScreen" class="md-raised btn-fullscreen"><span ng-if="canFullScreen">fullscreen</span><span ng-if="!canFullScreen">close</span></md-button>
    </div>
    <iframe ng-src="{{trustUrl(game.url)}}" frameborder="0" flex></iframe>
  </div>
</div>