<msp-cover-photo></msp-cover-photo>
<div class="msp-container">
	
		
	<div layout-gt-sm="row" layout-sm="column">
		<md-card flex="100" flex-gt-sm="80">
			<md-card-content>
				<div layout="row">
					<!-- The user's avatar -->
					<msp-profile-avatar ng-if="page.activeUser" photo="{{page.activeUser.avatar}}" class="avatar-pull-up"></msp-profile-avatar>
					<h2 class="fullname">{{page.activeUser.name}}</h2>
				</div>
	
				<!-- The post writer -->
				<msp-post-writer class="post-writer-pull-up"></msp-post-writer>
				
				<!-- The post list -->
				<msp-post-list type="feed"></msp-post-list>

				<!-- In-place loading indicator -->
				<msp-loading ng-if="!page.activeUser"></msp-loading>
			</md-card-content>
		</md-card>
		
		<div flex="20" hide-sm hide-xs style="margin-top:8px">
			<div style="width:100%" sticky offset="8">
				<md-card style="margin:0">
					<md-card-content>
						<!-- The list of friends -->
						<msp-user-list heading="Latest Activies"></msp-user-list>
					</md-card-content>
				</md-card>
			</div>
			
		</div>

	</div>



</div>